In [1]:
%matplotlib notebook
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data_file = "resources/MHSS-2010-data.csv"
data_pd = pd.read_csv(data_file, sep='\t')
# data_pd.head()

states_file = "resources/state_census_codes.csv"
states_id = pd.read_csv(states_file)
states_id.head()

   STFIPS       State Region
0       1     ALABAMA  South
1       2      ALASKA   West
2       4     ARIZONA   West
3       5    ARKANSAS  South
4       6  CALIFORNIA   West

In [3]:
mh_services = data_pd[["CASEID","STFIPS", "Ownership", "MHSuicide"]]

mh_services.head(5)

   CASEID  STFIPS  Ownership  MHSuicide
0       1      21          2          0
1       2      47          3          0
2       3      47          2          1
3       4      17          2          0
4       5       8          2          1

In [17]:
mhs = pd.merge(mh_services, states_id, on = "STFIPS")
mhs.head()

   CASEID  STFIPS  Ownership  MHSuicide     State Region
0       1      21          2          0  KENTUCKY  South
1      58      21          3          1  KENTUCKY  South
2     118      21          2          1  KENTUCKY  South
3     191      21          2          1  KENTUCKY  South
4     198      21          8          1  KENTUCKY  South

In [28]:
# Convert codes to values for facility ownership and suicide prevention program
mhs["MHSuicide"] = mhs["MHSuicide"].replace({0:"No",1:"Yes",(-1):"Unknown"})

mhs["Ownership"] = mhs["Ownership"].replace({1:"Private for-profit",
                                             2:"Private non-profit",
                                             3:"State or Regional Government", 
                                             5:"State or Regional Government",
                                             6:"State or Regional Government", 
                                             7:"U.S. Veterans Affairs", 
                                             8:"Other",
                                             9:"Other"
                                            }
                                           )

# convert formatting of States and change to abbreviations
mhs["State"] = mhs["State"].str.lower()
mhs["State"] = mhs["State"].str.title()

mhs["State"] = mhs["State"].replace({'Alabama': 'AL',
                                    'Alaska': 'AK',
                                    'Arizona': 'AZ',
                                    'Arkansas': 'AR',
                                    'California': 'CA',
                                    'Colorado': 'CO',
                                    'Connecticut': 'CT',
                                    'Delaware': 'DE',
                                    'Florida': 'FL',
                                    'Georgia': 'GA',
                                    'Hawaii': 'HI',
                                    'Idaho': 'ID',
                                    'Illinois': 'IL',
                                    'Indiana': 'IN',
                                    'Iowa': 'IA',
                                    'Kansas': 'KS',
                                    'Kentucky': 'KY',
                                    'Louisiana': 'LA',
                                    'Maine': 'ME',
                                    'Maryland': 'MD',
                                    'Massachusetts': 'MA',
                                    'Michigan': 'MI',
                                    'Minnesota': 'MN',
                                    'Mississippi': 'MS',
                                    'Missouri': 'MO',
                                    'Montana': 'MT',
                                    'Nebraska': 'NE',
                                    'Nevada': 'NV',
                                    'New_Hampshire': 'NH',
                                    'New_Jersey': 'NJ',
                                    'New_Mexico': 'NM',
                                    'New_York': 'NY',
                                    'North_Carolina': 'NC',
                                    'North_Dakota': 'ND',
                                    'Ohio': 'OH',
                                    'Oklahoma': 'OK',
                                    'Oregon': 'OR',
                                    'Pennsylvania': 'PA',
                                    'Rhode_Island': 'RI',
                                    'South_Carolina': 'SC',
                                    'South_Dakota': 'SD',
                                    'Tennessee': 'TN',
                                    'Texas': 'TX',
                                    'Utah': 'UT',
                                    'Vermont': 'VT',
                                    'Virginia': 'VA',
                                    'Washington': 'WA',
                                    'West_Virginia': 'WV',
                                    'Wisconsin': 'WI',
                                    'Wyoming': 'WY'})

# reorganize columns and remove STFIPS column
mhs = mhs[["CASEID", "Region", "State", "MHSuicide", "Ownership"]]
mhs.sample(10)

# check column counts
# mhs.count()

      CASEID     Region State MHSuicide           Ownership
4207    7619  Northeast    Pa   Unknown  Private non-profit
2207    3220       West    Ca        No  Private non-profit
5912    4003      South    Fl       Yes  Private non-profit
7369    9566       West    Ut        No  Private non-profit
4092    5548  Northeast    Pa       Yes  Private non-profit
6420    8610    Midwest    In       Yes  Private non-profit
263     1966      South    Tn        No  Private non-profit
9834    6363  Northeast    Vt       Yes  Private for-profit
2112    2184       West    Ca       Yes  Private non-profit
5083    5977    Midwest    Oh   Unknown  Private non-profit

In [30]:
# create data frames for each region

mhs_south = mhs.loc[mhs["Region"] == "South", :]

mhs_northeast = mhs.loc[mhs["Region"] == "Northeast", :]

mhs_midwest = mhs.loc[mhs["Region"] == "Midwest", :]

mhs_west = mhs.loc[mhs["Region"] == "West", :]
mhs_west.sample(10)

       CASEID Region State MHSuicide                     Ownership
2501     6271   West    Ca        No            Private non-profit
10141    6584   West    Wa       Yes            Private non-profit
10180    9331   West    Wa       Yes            Private non-profit
2316     4243   West    Ca        No            Private non-profit
2260     3828   West    Ca       Yes            Private non-profit
3799     9349   West    Az   Unknown            Private for-profit
2406     5166   West    Ca       Yes         U.S. Veterans Affairs
2462     5774   West    Ca        No         U.S. Veterans Affairs
2493     6129   West    Ca       Yes         U.S. Veterans Affairs
10221    3287   West    Nv       Yes  State or Regional Government

In [ ]:
mhs_northeast["Ownership"].value_counts()